body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff; /*White*/
  background: #afe7b8; /*Light Green*/
  background-size: cover;
  min-height: 100vh;
}

h1  {
  font-family: 'Pacifico', cursive;
  margin: 10%;
  flex: center;
{
  
p {
  text-size: 25px
}

label {
  flex: left;
}

.link {
  color: #568c5f /*Dark Green*/
/*-----------------LOGIN PAGE-----------------*/
.login-container {
  background: #7bbc86; /*Med Green*/
  padding: 40px;
  border-radius: 15px;
  width: 50%;
  max-width: 480px;
  margin: 80px auto;
  box-shadow: 0 4px 15px #568c5f; /*Dark Green*/
  text-align: center;
}

.login-logo {
  max-width: 460px;
  margin: 10%;
  flex: center;
}
