body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff; /*White*/
  background: #afe7b8; /*Light Green*/
  background-size: cover;
  min-height: 100vh;
}

h  {
  text-size: 50px
}

p {
  text-size: 25px
}
